@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: green;

}

body {
    background: linear-gradient(to bottom right, black, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 8vw;
    position: absolute;
    transform: translate(0, -100%);
    color: white;
}

h2 {
    font-size: 3vw;
    transform: translate(0,+200%);
}